KAFKA_BROKERS=127.0.0.1:9092
KAFKA_TOPIC=hn-mentions
KAFKA_CONSUMER_GROUP=clickhouse-ingester
KAFKA_RESET_OFFSET=latest

ENGINE_KEYWORDS="Dash0,OpenTelemetry,OTel,eBPF,Continuous Profiling,Distributed Tracing,LLM Observability,AI Monitoring,Sidecarless,Cardinality,Kubernetes Observability,Prometheus,Grafana,CNCF,Honeycomb,SigNoz,Datadog,New Relic,Dynatrace"
ENGINE_HISTORY_LOOKBACK=1440h

CLICKHOUSE_ADDR=localhost:9000
CLICKHOUSE_USER=local-user
CLICKHOUSE_PASSWORD=local-pass

DASH0_OTLP_ENDPOINT=https://ingress.europe-west4.gcp.dash0.com
DASH0_AUTH_TOKEN=tkn
DASH0_ENABLE_METRICS=true
